body{
    background:#000;
    color:#fff;
    padding-top:70px;
}
.hero-section{
    height:60vh;
    background:linear-gradient(120deg,#ff512f,#6a11cb);
    display:flex;
    align-items:center;
    justify-content:center;
}
.profile-img{
    width:220px;
    height:220px;
    border-radius:50%;
}
.skills-section,.contact-section{
    background:#111;
    padding:60px 0;
}
.projects-section,.about-section{
    padding:60px 0;
}
.footer{
    background:#000;
    padding:20px;
    color:#777;
}
